@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
}

.mainPage{
    width:100%;
    height:100%;
    display:flex;
}

#btn2 {
    display: inline-block;
    /* border-style: solid;
    border-color: black; */
    width: 15%;
    text-align: center;
    background-color: white;
    border-radius: 6px;
}
#btn2:hover {
    scale: 120%;
    transition:0.5s;
    transition-timing-function: ease-in-out;
}

.exp{
    font-size: larger;
}

#topBar{
     display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    height: 60px;
    width: 100%;
    margin-top: 0;
    background-color: #7eaa84;
    color: #ffffff;
    padding: 10px;
}

.user{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.UserId{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: #ffffff;
    /* padding: 5%; */
}
.userName{
    display: inline-block;
    padding: 2%;
    margin-right: 4%;
}
.userImg{
    /* margin-right: 5px; */
    height: 50px;
    padding: 2%;
    width: 50px;
    border-radius: 50%;
}

.product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.productId{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: #ffffff;
    /* padding: 5%; */
}
.productName{
    display: inline-block;
    padding: 2%;
    margin-left: 3%;
}
.productImg{
    /* margin-right: 5px; */
    height: 50px;
    padding: 2%;
    width: 50px;
    border-radius: 50%;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: relative;
    height: auto;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: rgb(104, 125, 173);
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    /* background-color: rgb(156, 218, 164); */
    color: white;
  }
  

#footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
}

.main-footer {
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(126, 170, 132);
}

.main-footer h1 {
  font-size: 16px;
  line-height: 117%;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 500;
}

.main-footer h2 {
  color: #ffffff;
  font-weight: 500;
}

footer {
  background-color: rgb(126, 170, 132);
  border-top: 1px solid #6EB981;
  font-size: 17px;
  padding: 15px 5px;
  color: #ffffff;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

.contact-details {
  margin-top: 20px;
}

