.content {
    display:flex;
    flex-direction: row;
    margin:0;
    padding:0;
    /* height: 100vh; */
    background-color:white;
    align-items: stretch;
    width: 100vw;
}
.left {
    width: fit-content;
    /* background-color: rgb(225,225,225,0.5); */
    background: radial-gradient(at 18% 99%, rgb(150, 202, 192) 0px, transparent 50%) repeat scroll 0% 0%, 
            radial-gradient(at 97% 8%, rgb(162, 203, 225) 0px, transparent 50%) repeat scroll 0% 0%, 
            radial-gradient(at 79% 82%, rgb(156, 218, 164) 0px, transparent 50%) repeat scroll 0% 0%,
            radial-gradient(at 96% 10%, rgb(145, 228, 162) 0px, transparent 50%) repeat scroll 0% 0%,    
            radial-gradient(at 42% 20%, rgb(126, 170, 132) 0px, transparent 50%) repeat scroll 0% 0%,
            radial-gradient(at 4% 49%, rgb(188, 219, 236) 0px, transparent 50%) repeat scroll 0% 0%, rgb(129, 154, 160) radial-gradient(at 57% 33%, rgb(104, 125, 173) 0px, rgb(153, 188, 254) 50%) repeat scroll 0% 0%;
    padding: 2%;
    margin-top: 2%;
    margin-left: 2%;
    height: fit-content;
    /* margin-bottom: 500px; */
    border-radius: 2%;
    box-shadow: 5px 5px 5px rgb(120, 120, 120);
}
.img {
    height: 100%;
    width: 100%;
    overflow:hidden;
}
.right {
    /* background-color: rgb(95, 95, 130); */
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.up {
    /* background-color: beige; */
    height: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.up h1 {
    margin-bottom: 5%;
}
select {
    width: fit-content;
    height: 25%;
    border-radius: 6px;
}
.down {
    /* background-color: darkseagreen; */
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5%;
}
#button {
    display: inline-block;
    /* border-style: solid;
    border-color: black; */
    width: 15%;
    text-align: center;
    background-color: white;
    border-radius: 6px;
}
#button:hover {
    scale: 120%;
    transition:0.5s;
    transition-timing-function: ease-in-out;
}
form {
    /* border-style: dashed;
    border-color: black; */
    border-radius: 10px;
    padding: 40px;
    background-image: linear-gradient(90deg,rgb(153, 188, 254),rgb(156, 218, 164) );
    /* background-color: #4158D0;
    background-image: linear-gradient(45deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */

}
legend {
    font-size: larger;
    margin-bottom: 5px;
}
li {
    /* width: 100%; */
    background-color: rgb(126, 170, 132,0.5);
    height:40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2%;
    margin: 2%;
    border-radius: 6px;
    /* border:rgb(126, 170, 132) solid 3px; */
}
span {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
input {
    height: 30px;
    outline:none;
    border: none;
    border-bottom: solid white 2px;
    background-color: transparent;
    text-align: center;
}

